@font-face 
{
    font-family: 'cmubright';
    src: url('police/cmubright/cmunbmo-webfont.eot');
    src: url('police/cmubright/cmunbmo-webfont.eot#iefix') format('embedded-opentype');
    src: url('police/cmubright/cmunbmo-webfont.svg') format('svg');
    src: url('police/cmubright/cmunbmo-webfont.ttf') format('true-type');
    src: url('police/cmubright/cmunbmo-webfont.woff') format('woff');
}

p 
{
    font-family: cmubright, Arial, serif;
    text-align: justify;
}

section 
{
    padding-top: 50px;
}

aside 
{
    background-color: #03A9F4;
}

aside h1 
{
    font-size: 1.5em;
    background-color: #263238;
    color: #03A9F4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cinfo 
{
    padding-bottom: 40px;
}

aside i 
{
    padding-top: 10px;
    padding: 8px;
}

article h1 
{
    font-size: 1.4em;
    font-weight: 600;
    color: #455A64;
}

article h2 
{
    font-size: 0.9em;
    font-weight: normal;
}

section header 
{
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #03A9F4;
}

section div.row 
{
    padding-top: 30px;
}

section p 
{
    padding-bottom: 20px;
}

section i 
{
    padding-right: 15px;
}

.aboutme 
{
    padding-bottom: 450px;
}

.tete 
{
    padding-top: 100px;
    padding-bottom: 50px;
}

.tete h1 
{
    font-size: 3.5em;
}

.tete h2 
{
    font-size: 1.2em;
}

.tete h2 span 
{
    text-decoration: none;
    padding: 0 0 1px 0;
    border-bottom: 2px solid #03A9F4;
}

.prenom 
{
    color: #03A9F4;
    font-weight: 600;
}

.nom 
{
    font-weight: 300;
}

a 
{
    text-decoration: none;
    color: black;
}

img 
{
    overflow: hidden;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    width: 175px;
    height: 175px;
    margin: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px #555;
}

@media (max-width: 980px) 
{
    .row 
    {
        display: flex;
        flex-flow: column;
        width: auto;
    }

    img 
    {
        margin-bottom: 200px;
    }

    .tete 
    {
        position: absolute;
        top: -1550px;
    }

    .prenom 
    {
        color: black;
        font-weight: 600;
    }

    .tete h2 span 
    {
        text-decoration: none;
        padding: 0 0 1px 0;
        border-bottom: 2px solid black;
    }

    .tete h1 
    {
        font-size: 3em;
    }

    .tete h2 
    {
        font-size: 1.2em;
    }
}

@media (max-width: 400px) 
{
    .row 
    {
        display: flex;
        flex-flow: column;
        width: auto;
    }

    img 
    {
        margin-bottom: 200px;
    }

    .tete 
    {
        position: absolute;
        top: -1600px;
    }

    .prenom 
    {
        color: black;
        font-weight: 600;
    }

    .tete h2 span 
    {
        text-decoration: none;
        padding: 0 0 1px 0;
        border-bottom: 2px solid black;
    }

    .tete h1 
    {
        font-size: 2.5em;
    }

    .tete h2 
    {
        font-size: 1.2em;
    }
}
