body {
    margin-left: 150px;
    margin-right: 150px;
    border: 1px black solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'cmubright';
    src: url('police/cmubright/cmunbmo-webfont.eot');
    src: url('police/cmubright/cmunbmo-webfont.eot#iefix') format('embedded-opentype');
    src: url('police/cmubright/cmunbmo-webfont.svg') format('svg');
    src: url('police/cmubright/cmunbmo-webfont.ttf') format('true-type');
    src: url('police/cmubright/cmunbmo-webfont.woff') format('woff');
}

p {
    font-family: cmubright, Arial, serif;
}

ul p
{
    padding-left: 7px;
}

ul {
    margin-left: 15px;
    padding: 0;
}

li p
{
    color: black;
}

li
{
    color: #03A9F4
}

section {
    padding-top: 50px;
}

header .row
{
    background-color: #03A9F4;
}

aside {
    background-color: #03A9F4;
}

    aside header {
        font-size: 1.5em;
        background-color: #263238;
        color: #03A9F4;
        padding: 1px 0 1px 0;
    }

.cinfo {
    padding-bottom: 40px;
}

aside i {
    padding-top: 10px;
    padding: 8px;
}

section div header {
    font-size: 1.4em;
    font-weight: 600;
    color: #455A64;
}

section div h1 {
    font-size: 0.9em;
    font-weight: normal;
}

section header.top {
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #03A9F4;
}

section div.row {
    padding-top: 30px;
}

section p {
    padding-bottom: 20px;
}

section i {
    padding-right: 15px;
}

.aboutme {
    padding-bottom: 600px;
}

.tete {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}

    .tete h1 {
        font-size: 3.5em;
    }

    .tete h2 {
        font-size: 1.2em;
        font-weight: 600;
    }

        .tete h2 span {
            text-decoration: none;
            padding: 0 0 1px 0;
            border-bottom: 2px solid #03A9F4;
        }

.prenom {
    color: #03A9F4;
    font-weight: 600;
}

.nom {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

img {
    overflow: hidden;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    width: 175px;
    height: 175px;
    margin-top: 50px;
    margin-bottom: 50px;
    object-fit: cover;
    box-shadow: 2px 2px 10px #555;
}

div .ig {
    width: 100%;
    background-color: #03A9F4;
}






@media (max-width: 767px) {
    body {
        margin: 0;
    }

    .row {
        display: flex;
        flex-flow: column;
        width: auto;
    }

    .tete 
    {
        background-color: #03A9F4;
        padding: 0 0 25px 0;
        text-align: center;
    }

    .prenom {
        color: black;
        font-weight: 600;
    }

    .tete h2 span {
        text-decoration: none;
        padding: 0 0 1px 0;
        border-bottom: 2px solid black;
    }

    .tete h1 {
        font-size: 2.5em;
    }

    .tete h2 {
        font-size: 1.2em;
    }

    .aboutme
    {
        padding: 0;
    }
}

@media (max-width: 1450px) and (min-width: 768px) {
    
    body
    {
        margin: 0;
    }
    
    aside 
    {
        display: flex;
        flex-direction: column;
        padding-right: 250px;
    }

        .tete h1 
        {
            font-size: 3em;
        }

        .tete h2 
        {
        }

            .tete h2 span 
            {
                text-decoration: none;
                padding: 0 0 1px 0;
                border-bottom: 2px solid #03A9F4;
            }

    .prenom {
        color: #03A9F4;
        font-weight: 600;
    }

    .nom {
        font-weight: 300;
    }

    img
    {
        width: 150px;
        height: 150px;
    }

    a.send
    {
        font-size: 12px;
        margin-left: 0;
    }
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    body {
        width: 210mm;
        height: 297mm;
    }
}
